.add-iPhone {
    background: url('https://res.cloudinary.com/dwgx3lz5l/image/upload/v1722579978/iphone_rmaokx.png') no-repeat center center/cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35rem;
    height: auto;
    max-height: 80vh;
    padding: 1.5rem;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 1rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    overflow-y: auto;
}

.add-iPhone form {
    color: rgba(41, 39, 39, 0.8);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1rem;
    border-radius: 0.5rem;
}

.form-columns {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.column {
    flex: 1 1 10%;
    min-width: 15rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin-bottom: 0.75rem;
}

.form-group label {
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #2e3030;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 0; /
    border: 2px solid rgba(41, 39, 39, 0.8);
    border-radius: 0.5rem;
    background-color: #ffffff;
    color: #333;
    transition: border-color 0.3s, background-color 0.3s;
}

.form-group input:focus,
.form-group select:focus {
    border-color: #0056b3;
    background-color: #ffffff;
    outline: none;
}

button {
    width: 100%;
    padding: 0.7rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.photos,
.price {
    margin-bottom: 0.75rem;
}

.custom-checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.custom-checkbox .form-check-input {
    width: 1.5rem;
    height: 1.5rem;
    background-color: #e7f0ff;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.custom-checkbox .form-check-input:checked {
    background-color: #ffffff;
}

.custom-checkbox .form-check-label {
    font-size: 0.9rem;
    margin-left: 0.5rem;
    color: #333;
}

.form-group > * {
    width: 100%;
}

.more-options {
    padding: 1rem;
    background-color: rgba(236, 234, 234, 0.6);
    border-radius: 0.5rem;
    margin-top: 1rem;
    color: #fff;
}

option {
    background: #f0f0f0;
    color: #333;
}
