@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

body {
    background-color: #f4f4f4;
    font-family: "Roboto", sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

.featured-section {
    position: relative;
    max-height: 50vh;
    overflow: hidden;
}

.featured-image {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.overlay h1 {
    color: #fff;
    font-size: 3rem;
    font-family: 'Playfair Display', serif;
}

.overlay h1 span {
    color:  #437db6;
}

.categories, .allCategories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center all elements */
    margin: 3rem 20rem;
    text-align: center;
    gap: 3rem;
}

.category, .allCategories {
    width: 100%;
    max-width: 200px;
    box-sizing: border-box;
}

.allCategories {
    width: 100%; /* Ensure full width */
    max-width: 200px; /* Same max width as other categories */
    margin: 0 auto; /* Center the element */
}

.category a, .allCategories a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    transition: background-color 0.3s, border-color 0.3s;
}

.category a:hover, .allCategories a:hover {
    background-color: #fff;
    border-color: #ccc;
}

.category img, .allCategories img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.category h3, .allCategories h3 {
    margin: 0;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
}


.no-products {
    text-align: center;
    padding: 2rem;
    background-color: #437db6;
    color: #fff;
    border-radius: 8px;
    margin: 2rem 1rem;
}

.highlighted-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 2rem;
    margin: 2rem 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.highlighted-products h2 {
    font-family: 'Playfair Display', serif;
    margin-bottom: 1rem;
}

.highlighted-products img {
    max-width: 300px;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.highlighted-products p {
    text-align: center;
    max-width: 600px;
    margin-bottom: 1rem;
}

.explore-button {
    display: inline-block;
    padding: 0.7rem 1.5rem;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.explore-button:hover {
    background-color: #437db6;
}

.latest-arrivals {
    background: #333;
    color: #fff;
    padding: 2rem;
    margin: 2rem 1rem;
    border-radius: 8px;
}

.latest-arrivals h2 {
    text-align: center;
    margin-bottom: 1.5rem;
}

.arrival-item {
    display: flex;
    align-items: center;
}

.arrival-item img {
    max-width: 50%;
    border-radius: 8px;
    margin-right: 2rem;
}

.arrival-info {
    max-width: 50%;
}

.arrival-info h3 {
    margin-bottom: 1rem;
}

.arrival-info ul {
    list-style: none;
    padding: 0;
}

.arrival-info ul li {
    margin-bottom: 0.5rem;
}

.arrival-info .btn {
    display: inline-block;
    padding: 0.7rem 1.5rem;
    background-color: #0080ff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.arrival-info .btn:hover {
    background-color: #007bff;
}

.recent-devices {
    padding: 2rem;
    background-color: #fff;
    margin: 2rem 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.recent-devices h2 {
    text-align: center;
    margin-bottom: 1.5rem;
}

.recent-device-card {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.recent-device-card img {
    max-width: 150px;
    border-radius: 8px;
    margin-right: 1.5rem;
}

.card-info h3 {
    margin-bottom: 0.5rem;
}

.card-info ul {
    list-style: none;
    padding: 0;
}
