@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');

body {
    background: url('../images/apple-home.jpg');
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.home{
    padding-top: 3rem;
    text-align: center;
}

.home .welcome{
    width: 50rem;
    margin: 1rem auto 0 auto;
    color: #2e3030;
    background: #c2c0dc30;
    border: 2px solid #706b6b;
    padding: 1.5rem;
    border-radius: 10% 10%;
    backdrop-filter: blur(3px);
}

.home h1 {
    margin: 0.5rem auto 0 auto;
    font-family: "Lato", cursive;
    font-size: 2.5rem;
    font-weight: 700;
    color: #638fba;
    font-style: normal
}

.home h1 span{
    text-align: center;
    width: 25rem;
    margin: 0.5rem auto 0 auto;
    font-family: "Lato", cursive;
    font-weight: 400;
    font-style: normal;
    color: #205148;
}

.home h2 {
    text-align: center;
    margin: 0.6rem auto 0 auto;
    font-family: "Lato", cursive;
    font-weight: 400;
    font-style: normal;
}

.home p{
    padding-top: 0.7rem;
    text-align: center;
    width: 35rem;
    margin: 0 auto;
    font-family: "Lato", cursive;
    font-weight: 400;
    font-style: normal;
}

a{
    color: #638fba;
    font-weight: bold;
}


.home .welcome p a {
    text-decoration: none;
}