@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body {
    background: url('../images/apple-login.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

.login-page {
    width: 28rem;
    color: #0e62ca;
    text-align: center;
    position: relative;
}

.form {
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0.8);
    max-width: 28rem;
    margin: 0 auto;
    padding: 3rem 2rem;
    text-align: center;
    box-shadow: 0 0 3rem rgba(0, 0, 0, 0.4), 0 5px 5px rgba(0, 0, 0, 0.50);
    border-radius: 1rem;
}

.form h2 {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.input-container {
    position: relative;
    margin-bottom: 1.5rem;
}

.input-container .input-icon {
    position: absolute;
    left: 0.8rem;
    top: 50%;
    transform: translateY(-50%);
    color: #0e62ca;
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    padding: 1rem 1rem 1rem 3rem;
    box-sizing: border-box;
    font-size: 1rem;
    transition: all 0.5s ease;
    border-radius: 0.5rem;
    opacity: 0.8;
}

.form button {
    font-family: "Poppins", sans-serif;
    outline: 0;
    background: #0e62ca;
    width: 100%;
    border: 0;
    padding: 1rem;
    color: #fff;
    font-size: 1rem;
    transition: background 0.5s ease;
    cursor: pointer;
    border-radius: 0.5rem;
}

.form button:hover {
    background: #104a8e;
}

.form .message {
    margin: 1.5rem 0 0;
    color: #0e62ca;
    font-size: 15px;
}

.form .message a {
    color: #0e62ca;
    text-decoration: none;
    font-weight: 500;
}

.form .message a:hover {
    text-decoration: underline;
}
