body {
    background: url('../images/apple-register.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f0f0f0;
    font-family: 'Arial', sans-serif;
    margin: 0;
    height: 100vh;
}

.register-page{
    width: 30rem;
    height: 32rem;
    text-align: center;
    position: relative;
    bottom: 1rem;
    border-radius: 0.5rem;
    padding: 1.5rem;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    color: #f0f0f0;
}

.register{
    text-align: center;
    backdrop-filter: blur(10rem);
    padding: 1rem 1rem;
    border-radius: 1.8rem;
}

.picture {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2rem;
    border-radius: 50%;
    margin-bottom: 1.5rem;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.picture:hover {
    background-color: rgba(255, 255, 255, 1); /* Промяна на фона при задържане */
    transform: scale(1.05); /* Леко увеличение при задържане */
}

.element {
    position: relative;
    margin-bottom: 1rem;
}

.element label {
    margin-right: 0.5rem;
}

.element input {
    flex: 0.5;
    padding: 0.5rem 0;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 2px solid white;
    color: white;
    font-size: 1em;
    width: 80%;
}

.element input::placeholder {
    color: white;
    opacity: 0.6;
}

.element input:focus {
    border-bottom: 2px solid #0e62ca;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.register button{
    background-color: #0e62ca;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    text-align: center;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    cursor: pointer;
    width: 35%;
    border-radius: 2rem;
}

button:hover {
    background-color: #9ea39e;
}
.error-message {
    display: block;
}