body {
    background-color: #4684b6;
    background-size: cover;
    color: #333;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.profile-container {
    display: flex;
    justify-content: center;
    padding: 5rem;
}

.profile-card {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 800px;
    padding: 2rem;
}

.profile-header h4 {
    margin: 0;
    color: #007bff;
}

.profile-details {
    margin-top: 1rem;
}

.profile-detail {
    padding: 0.5rem 0;
    border-bottom: 1px solid #ddd;
}

.profile-detail:last-child {
    border-bottom: none;
}

.profile-detail h6 {
    margin: 0;
    color: #555;
}

.profile-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #007bff;
}

.editable .profile-info {
    align-items: center;
}

.edit-input {
    display: none;
    width: 60%;
    margin-left: 1rem;
}

.edit-icon {
    cursor: pointer;
    color: #007bff;
    margin-left: 1rem;
}

.error-message {
    color: #dc3545;
    margin-top: 0.5rem;
    display: block;
}

.role {
    color: #007bff;
    font-weight: bold;
}

.button-submit {
    text-align: center;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 0.3rem;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
}
