<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <link th:include="~{fragments/head :: head}">
    <link rel="stylesheet" href="/css/about-us.css">
</head>

<body>
<div>
    <nav th:replace="~{fragments/navigation}"></nav>
</div>

<div class="about-container">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
                <h2 class="mb-4 display-5 text-center text-secondary">About Us</h2>
                <p class="text-center lead fs-4 text-dark container-font">
                    Welcome to our online store, your premier destination for all things Apple!
                    We specialize in providing the latest iPhones, MacBooks, and Apple Watches.
                    Our goal is to offer a seamless shopping experience, delivering the most up-to-date information on
                    Apple products, detailed reviews, and expert advice to help you choose the perfect device for your needs.
                </p>
                <hr class="w-100 border">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-6 order-lg-2 mb-4 mb-lg-0">
                <img class="img-fluid rounded shadow" loading="lazy"
                     src="https://res.cloudinary.com/dwgx3lz5l/image/upload/v1722579970/about_tsmyiz.jpg" alt="Apple Products">
            </div>
            <div class="col-12 col-lg-6 order-lg-1">
                <div class="about-wrapper">
                    <p class="lead mb-4 text-dark container-font">
                        In each category, you'll find comprehensive information about the latest iPhone models, MacBook series, and Apple Watches.
                        We aim to provide insights and inspiration for your next purchase, whether you're a long-time
                        Apple enthusiast or new to the ecosystem. Explore our site to find valuable information and make informed decisions when buying your next Apple device.
                    </p>
                    <div class="row mb-4">
                    </div>
                    <div class="text-center">
                        <a href="/shop" class="btn btn-primary btn-lg">Shop Now <i class="fa-solid fa-arrow-right ms-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>
