<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <link th:include="~{fragments/head :: head}">
    <link rel="stylesheet" href="/css/device-profile.css">
</head>

<body>

<div>
    <nav th:replace="~{fragments/navigation}"></nav>
</div>

<div class="container mt-4 mb-5">
    <div class="model-text">
        <div th:text="${device.model}">...Model..</div>
    </div>

    <div id="big-images" class="carousel slide mt-4">
        <div class="carousel-inner">
            <div th:each="photo, iterStat : ${device.photosUrls}"
                 th:class="${iterStat.index == 0} ? 'carousel-item active' : 'carousel-item'">
                <img th:src="@{${photo}}" class="d-block w-100" alt="Image">
            </div>
        </div>
        <a class="carousel-control-prev" href="#big-images" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#big-images" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="small-images justify-content-center mt-3">
        <img th:each="photo, iterStat : ${device.photosUrls}" th:src="@{${photo}}" alt="Image"
             th:onclick="'manualPictureNavigation(' + ${iterStat.index} + ')'" class="d-block w-100">
    </div>

    <div class="description text-center mt-4">
        <h5>Device Info</h5>
        <div class="row justify-content-around">
            <div>
                <p><span class="description-text">Status Device: </span></p>
                <p><span class="description-text">Warranty: </span></p>
                <p><span class="description-text">Model: </span></p>
                <p><span class="description-text">Resolution: </span></p>
                <p><span class="description-text">Processor: </span></p>
                <p><span class="description-text">Capacity Ram: </span></p>
                <p><span class="description-text">Operating System: </span></p>
                <p><span class="description-text">Display Size: </span></p>
                <p><span class="description-text">Color: </span></p>
                <p><span class="description-text">Date of purchase: </span></p>
                <p><span class="description-text">Price: </span></p>
                <p><span class="description-text">Date of register: </span></p>
            </div>
            <div>
                <p><span th:text="${device.statusDevice}">...</span></p>
                <p><span th:text="${device.warranty}">...</span></p>
                <p><span th:text="${device.model}">...</span></p>
                <p><span th:text="${device.resolution}">...</span></p>
                <p><span th:text="${device.processor}">...</span></p>
                <p><span th:text="${device.capacityRam.getName()}">...</span></p>
                <p><span th:text="${device.operatingSystem}">...</span></p>
                <p><span th:text="${device.displaySize}">...</span></p>
                <p><span th:text="${device.colour.getName()}">...</span></p>
                <p><span th:text="${device.dateOfPurchase}">...</span></p>
                <p><span th:text="${device.price} + ' BGN'">... BGN</span></p>
                <p><span th:text="${device.dateOfRegister}">...</span></p>
            </div>
        </div>
        <div class="features">
            <th:block th:if="${deviceType == 'iPhone'}">
                <div class="row justify-content-around">
                    <div>
                        <p><span class="description-text">Display: </span></p>
                        <p><span class="description-text">Internal Memory: </span></p>
                        <p><span class="description-text">Battery: </span></p>
                        <p><span class="description-text">Sizes: </span></p>
                    </div>
                    <div>
                        <p><span th:text="${device.display}"></span></p>
                        <p><span th:text="${device.internalMemory}"></span></p>
                        <p><span th:text="${device.battery}"></span></p>
                        <p><span th:text="${device.sizes}"></span></p>
                    </div>
                </div>
                <div>
                    <i class="fa-solid fa-check" th:if="${device.dualSim}"></i>
                    <i class="fa-solid fa-times" th:unless="${device.dualSim}"></i>
                    <label>Dual Sim</label>
                </div>
                <div>
                    <i class="fa-solid fa-check" th:if="${device.faceRecognitionSensor}"></i>
                    <i class="fa-solid fa-times" th:unless="${device.faceRecognitionSensor}"></i>
                    <label>Face Recognition Sensor</label>
                </div>
            </th:block>

            <th:block th:if="${deviceType == 'macBook'}">
                <div class="row justify-content-around">
                    <div>
                        <!--                        <p><span class="description-text">HDD: </span>...</p>-->
                        <p><span class="description-text">Video Card Type: </span></p>
                    </div>
                    <div>
                        <!--                        <p><span th:text="${device.HHD}">...</span></p>-->
                        <p><span th:text="${device.videoCardType}"></span></p>
                    </div>
                </div>
            </th:block>

            <th:block th:if="${deviceType == 'watch'}">
                <div class="row justify-content-around">
                    <div>
                        <p><span class="description-text">Display: </span></p>
                        <p><span class="description-text">Internal Memory:</span></p>
                        <p><span class="description-text">Sizes: </span></p>
                    </div>
                    <div>
                        <p><span th:text="${device.display}"></span></p>
                        <p><span th:text="${device.internalMemory}"></span></p>
                        <p><span th:text="${device.sizes}"></span></p>
                    </div>
                </div>
                <div>
                    <i class="fa-solid fa-check" th:if="${device.touchScreenDisplay}"></i>
                    <i class="fa-solid fa-times" th:unless="${device.touchScreenDisplay}"></i>
                    <label>Touch Screen Display</label>
                </div>
                <div>
                    <i class="fa-solid fa-check" th:if="${device.simCardSupport}"></i>
                    <i class="fa-solid fa-times" th:unless="${device.simCardSupport}"></i>
                    <label>Sim Card Support</label>
                </div>
            </th:block>
        </div>
        <form th:action="'/devices/delete-device/' + ${deviceType} + '/' + ${device.id} + '/' + ${page}"
              method="POST"
              th:if="${isAdmin or isOwner}">
            <input type="hidden" name="_method" value="DELETE"/>
            <button type="submit" class="btn btn-danger btn-sm mt-2">
                <i class="fas fa-trash-alt"></i> Delete
            </button>
        </form>
    </div>

    <div id="device-data"
         th:attr="data-device-type=${deviceType}, data-device-id=${device.id}, data-user=${user}, data-is-owner=${isOwner}, data-is-admin=${isAdmin}">
    </div>

    <div>
        <div class="container mt-4 mb-5  comments">
            <div class="row d-flex justify-content-center ">
                <div class="w-100">
                    <div class="d-flex justify-content-center align-items-center mb-4 ">
                        <h4 class="text-body mb-0 text-white">Comments</h4>
                    </div>
                    <form class="form-add-comment"
                          th:action="'/comments/add-comment/' + ${deviceType} + '/' + ${device.id}" method="POST">
                        <div class="form-group">
                            <textarea class="form-control" id="comment" name="comment" rows="3"
                                      placeholder="Add a comment"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>

                    <div class="card mb-3" id="card-section">
                        <div class="card-body">
                            <div class="d-flex flex-start">
                                <img class="rounded-circle shadow-1-strong me-3 mr-3"
                                     alt="avatar"
                                     width="40" height="40"/>
                                <div class="w-100">
                                    <div class="d-flex align-items-center mb-3">
                                        <h6 class="text-success fw-bold mb-0">
                                        </h6>
                                        <span class="text-body ms-2 text-white ml-1">....</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const deviceDataElement = document.getElementById('device-data');
        const deviceType = deviceDataElement.getAttribute('data-device-type');
        const deviceId = deviceDataElement.getAttribute('data-device-id');
        const user = deviceDataElement.getAttribute('data-user');
        const isOwner = deviceDataElement.getAttribute('data-is-owner');
        const isAdmin = deviceDataElement.getAttribute('data-is-admin');

        const cardSection = document.getElementById('card-section');

        fetch(`/comments/${deviceType}/${deviceId}`)
            .then(response => response.json())
            .then(comments => {
                const commentsHTML = comments.map(comment => `
                        <div class="card-body">
                            <div class="d-flex flex-start">
                                <div class="w-100">
                                    <div class="d-flex align-items-center mb-3">
                                        <h6 class="text-success fw-bold mb-0">${comment.userUsername}:</h6>
                                        <span class="text-body ms-2 text-white">${comment.comment}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                `).join('');

                cardSection.innerHTML = commentsHTML;
            })
            .catch(error => console.error('Error fetching comments:', error));
    });
</script>

<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>

