<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <link th:include="~{fragments/head :: head}">
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
<div>
    <nav th:replace="~{fragments/navigation}"></nav>
</div>

<section class="featured-section">
    <img src="https://res.cloudinary.com/dwgx3lz5l/image/upload/v1722579979/premium-device_hx4ffd.jpg" alt="Apple Products" class="featured-image">
    <div class="overlay">
        <h1>Explore <span>Apple</span> Products</h1>
    </div>
</section>

<th:block th:if="${availableIPhones || availableMacBooks || availableWatches}">
    <section class="categories">
        <div class="category">
            <a th:href="@{/device/iPhones}">
                <img src="https://res.cloudinary.com/dwgx3lz5l/image/upload/v1722579978/iphone_rmaokx.png" alt="iPhone">
                <h3>iPhone</h3>
            </a>
        </div>
        <div class="category">
            <a th:href="@{/device/macBooks}">
                <img src="https://res.cloudinary.com/dwgx3lz5l/image/upload/v1722579978/macBook_zbjmsh.png"
                     alt="MacBook">
                <h3>MacBook</h3>
            </a>
        </div>
        <div class="category">
            <a th:href="@{/device/watches}">
                <img src="https://res.cloudinary.com/dwgx3lz5l/image/upload/v1722579979/watch_vfbygi.jpg" alt="Watch">
                <h3>Watch</h3>
            </a>
        </div>
        <div class="allCategories">
            <a th:href="@{/device/all}">
                <img src="https://res.cloudinary.com/dwgx3lz5l/image/upload/v1722594832/all-apple-products_jtroib.jpg" alt="All Products">
                <h3>All Products</h3>
            </a>
        </div>
    </section>
</th:block>

<th:block th:unless="${availableIPhones || availableMacBooks || availableWatches}">
    <section class="no-products">
        <h2>No Devices Available</h2>
        <p>Currently, there are no devices available. Please add new devices to continue.</p>
    </section>
</th:block>

<th:block th:if="${availableIPhones || availableMacBooks || availableWatches}">
    <section class="highlighted-products">
        <div class="product-highlight">
            <h2>Available Models With Largest Memory </h2>
        </div>
        <div class="iPhone">
            <img th:src="@{${iPhoneWithLargestMemoryView.photosUrls.get(0)}}" alt="Iphone With Largest Memory">
        </div>
        <div>
            <p>Experience luxury and advanced technology with our premium Apple products.
                Designed for those who want the best.</p>
            <a href="#" class="explore-button">Explore</a>
        </div>
    </section>
</th:block>
<section class="latest-arrivals">
    <h2>Fresh Arrivals</h2>
    <div class="arrival-item">
        <img src="/images/apple-test.jpg" alt="New iPhone 14">
        <div class="arrival-info">
            <h3>New iPhone 15</h3>
            <ul>
                <li><i class="fa-solid fa-check"></i> 5G Connectivity</li>
                <li><i class="fa-solid fa-check"></i> Retina Display</li>
                <li><i class="fa-solid fa-check"></i> Face ID</li>
            </ul>
            <a href="#" class="btn">Read More</a>
        </div>
    </div>
</section>

<section class="recent-devices">
    <h2>Latest Devices</h2>
    <div class="recent-device-card">
        <img src="/images/apple-test.jpg" alt="iPhone 14">
        <div class="card-info">
            <h3>iPhone 15</h3>
            <ul>
                <li>Category: iPhone</li>
                <li>Location: Burgas</li>
                <li>Price: 2500lv</li>
            </ul>
            <a href="#" class="card-link">All Product Reviews</a>
        </div>
    </div>
</section>

<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>
