<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <link th:include="~{fragments/head :: head}">
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
<div>
    <nav th:replace="~{fragments/navigation}"></nav>
</div>

<section class="featured-section">
    <img src="https://res.cloudinary.com/dwgx3lz5l/image/upload/v1722579979/premium-device_hx4ffd.jpg"
         alt="Apple Products" class="featured-image">
    <div class="overlay">
        <h1 th:text="#{home.explore}">Explore <span>Apple</span> Products</h1>
    </div>
</section>

<th:block th:if="${availableIPhones || availableMacBooks || availableWatches}">
    <section class="categories">
        <div class="category">
            <a th:href="@{/devices/iPhones}">
                <img src="https://res.cloudinary.com/dwgx3lz5l/image/upload/v1722579978/iphone_rmaokx.png" alt="iPhone">
                <h3 th:text="#{home.iPhoneOption}">iPhone</h3>
            </a>
        </div>
        <div class="category">
            <a th:href="@{/devices/macBooks}">
                <img src="https://res.cloudinary.com/dwgx3lz5l/image/upload/v1722784531/macbookair-og-202402_rczcgw.jpg"
                     alt="MacBook">
                <h3 th:text="#{home.macBookOption}">MacBook</h3>
            </a>
        </div>
        <div class="category">
            <a th:href="@{/devices/watches}">
                <img src="https://res.cloudinary.com/dwgx3lz5l/image/upload/v1722579979/watch_vfbygi.jpg" alt="Watch">
                <h3 th:text="#{home.watchOption}">Watch</h3>
            </a>
        </div>
        <div class="allCategories">
            <a th:href="@{/devices/all}">
                <img src="https://res.cloudinary.com/dwgx3lz5l/image/upload/v1722784726/1669187309881_ylvins.jpg"
                     alt="All Products">
                <h3 th:text="#{home.allOption}">All Products</h3>
            </a>
        </div>
    </section>
</th:block>

<th:block th:unless="${availableIPhones || availableMacBooks || availableWatches}">
    <section class="no-products">
        <h2 th:text="#{home.noDevices}">No Devices Available</h2>
        <p th:text="#{home.noDevicesMessage}">Currently, there are no devices available. Please add new devices to continue.</p>
    </section>
</th:block>

<th:block th:if="${availableIPhones && availableMacBooks && availableWatches}">
    <section class="latest-arrivals">
        <h2 th:text="#{home.latestModelDevice}">The Latest Model Device</h2>
        <h6 th:text="#{home.latestModelDevice1}">Experience luxury and advanced technology with our premium Apple products.
            Designed for those who want the best.</h6>
        <div class="arrival-item">
            <img th:src="@{${latestModelIphoneView.photosUrls.get(0)}}" alt="iPhone 15">
            <div class="arrival-info">
                <div class="iPhone">
                    <h3 th:text="${latestModelIphoneView.model}">iPhone 15</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"
                            th:text="#{home.operatingSystem} + ${latestModelIphoneView.getOperatingSystem()}">iOS
                        </li>
                        <li class="list-group-item"
                            th:text="#{home.dateOfPurchase} + ${latestModelIphoneView.getDateOfPurchase()}">Date Of Purchase
                        </li>
                        <li class="list-group-item"
                            th:text="#{home.price} + ${latestModelIphoneView.price} + ' BGN'">
                            Price
                        </li>
                    </ul>
                    <a th:href="'/devices/device-profile/iPhone/' + ${latestModelIphoneView.id}" class="btn" th:text="#{home.readMore}">Read More</a>
                </div>
            </div>
        </div>
        <div class="arrival-item">
            <img th:src="@{${latestModelMacBookView.photosUrls.get(0)}}" alt="MacBook">
            <div class="arrival-info">
                <div class="macBook">
                    <h3 th:text="${latestModelMacBookView.model}">MacBook</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"
                            th:text="#{home.operatingSystem} +${latestModelMacBookView.getOperatingSystem()}">iOS
                        </li>
                        <li class="list-group-item"
                            th:text="#{home.dateOfPurchase} + ${latestModelMacBookView.getDateOfPurchase()}">Date of purchase
                        </li>
                        <li class="list-group-item"
                            th:text="#{home.price} + ${latestModelMacBookView.price} + ' BGN'">Price
                        </li>
                    </ul>
                    <a th:href="'/devices/device-profile/macBook/' + ${latestModelMacBookView.id}" class="btn" th:text="#{home.readMore}">Read More</a>
                </div>
            </div>
        </div>
        <div class="arrival-item">
            <img th:src="@{${latestModelWatchView.photosUrls.get(0)}}" alt="Watch">
            <div class="arrival-info">
                <div class="watch">
                    <h3 th:text="${latestModelWatchView.model}">Watch</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"
                            th:text="#{home.operatingSystem} +${latestModelWatchView.getOperatingSystem()}">iOS
                        </li>
                        <li class="list-group-item"
                            th:text="#{home.dateOfPurchase} + ${latestModelWatchView.getDateOfPurchase()}">Date of purchase
                        </li>
                        <li class="list-group-item"
                            th:text="#{home.price} + ${latestModelWatchView.price} + ' BGN'">Price
                        </li>
                    </ul>
                    <a th:href="'/devices/device-profile/watch/' + ${latestModelWatchView.id}" class="btn" th:text="#{home.readMore}">Read More</a>
                </div>
            </div>
        </div>

    </section>
</th:block>
<th:block th:if="${availableIPhones}">
    <section class="highlighted-products">
        <div class="product-highlight">
            <h2 th:text="#{home.largestMemory}">Available Models iPhone With Largest Memory </h2>
        </div>
        <div class="iPhone">
            <img th:src="@{${iPhoneWithLargestMemoryView.photosUrls.get(0)}}" alt="Iphone With Largest Memory">
            <ul class="list-group list-group-flush">
                <li th:text="#{home.model} + ${iPhoneWithLargestMemoryView.getModel()}">Model</li>
                <li th:text="#{home.storage} + ${iPhoneWithLargestMemoryView.getInternalMemory()}">Storage</li>
            </ul>
        </div>
        <div>
            <p></p>
            <a th:href="@{/devices/iPhones}" class="explore-button" th:text="#{home.explorebtn}">Explore</a>
        </div>
    </section>
</th:block>

<th:block th:if="${availableIPhones || availableMacBooks || availableWatches}">
    <section class="highlighted-products">
        <div class="product-highlight">
            <h2 th:text="#{home.longestWarranty}">Devices With Longest Warranty</h2>
        </div>
        <div class="row mx-auto justify-content-center">
            <div class="card mt-4 mx-3" th:each="device : ${deviceWithTheLongestWarranty}">
                <img th:src="${device.getPhotosUrls().get(0)}" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title" th:text="${device.model}"></h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" th:text="#{home.dateOfPurchase} + ${device.dateOfPurchase}">
                        Date of register:
                    </li>
                    <li class="list-group-item" th:text="#{home.warranty} + ${device.warranty} + #{home.month}">Warranty:</li>
                    <li class="list-group-item" th:text="#{home.price} + ${device.price} + ' BGN'">Price:</li>
                </ul>
                <div class="card-body">
                    <a th:href="'/devices/device-profile/' + ${device.type} + '/' + ${device.id}" class="card-link" th:text="#{home.readMore}">Read More</a>
                </div>
            </div>
        </div>
    </section>
</th:block>

<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>
