<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <link th:include="~{fragments/head :: head}">
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
<div>
    <nav th:replace="~{fragments/navigation}"></nav>
</div>

<th:block sec:authorize="!isAuthenticated()">
    <div class="h1"><h1>Welcome to Apple Marketplace</h1></div>
    <div class="home">
        <div class="welcome">
            <h2>Discover New and Used Apple Devices</h2>
            <p> Whether you're buying or selling,
                register to list your pre-owned devices or explore our range to find great deals and make informed choices.</p>
            <p>To explore our full range of products and services, please <a href="@{/user/login}">Login</a> or <a href="@{/user/register}">Register</a>!</p>
        </div>
    </div>
</th:block>

<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>
