<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <link th:include="~{fragments/head :: head}">
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
<div>
    <nav th:replace="~{fragments/navigation}"></nav>
</div>

<th:block sec:authorize="!isAuthenticated()">
    <div class="home">
        <div class="welcome">
            <h1>Welcome to AppleStore</h1>
            <h2>Explore the Latest in Technology</h2>
            <p>Discover the newest iPhone, MacBook, and Apple Watch models. Enjoy seamless integration and innovative features designed to elevate your experience.</p>
            <p>To explore our full range of products and services, please <a href="#">Login</a> or <a href="#">Register</a>!</p>
        </div>
    </div>
</th:block>

<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>
