<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <link th:include="~{fragments/head :: head}">
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>

<div>
    <nav th:replace="~{fragments/navigation}"></nav>
</div>

<th:block sec:authorize="isAuthenticated()">
    <div class="login-page">
        <div class="form acrylic">
            <form class="login-form" method="POST" th:action="@{/user/login}">
                <p class="bg-danger text-white pt-2 pb-2 pr-4 pl-4" th:if="${bad_credentials}">
                    Invalid username or password.
                </p>
                <h2>Login to your account</h2>
                <div class="input-container">
                    <i class="fa-solid fa-user input-icon"></i>
                    <input id="username" name="username" type="text" placeholder="Username" />
                </div>
                <div class="input-container">
                    <i class="fa-solid fa-lock input-icon"></i>
                    <input id="password" name="password" type="password" placeholder="Password" />
                </div>
                <button class="login" type="submit"><strong>LOGIN</strong></button>
                <p class="message"><a th:href="@{/user/register}">Register</a></p>
            </form>
        </div>
    </div>
</th:block>

<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>
