<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <link th:include="~{fragments/head :: head}">
    <link rel="stylesheet" href="/css/user-profile.css">
</head>

<body>
<nav th:replace="~{fragments/navigation}"></nav>

<div class="profile-container">
    <div class="profile-card">
        <div class="profile-header">
            <h4 th:text="${userProfileView.firstName} + ' ' + ${userProfileView.lastName}"></h4>
        </div>
        <form th:action="@{/user/profile}" method="POST" th:object="${userProfile}">
            <div class="profile-details">
                <div class="profile-detail">
                    <h6>Username</h6>
                    <div class="profile-info">
                        <span th:text="${userProfileView.username}"></span>
                    </div>
                </div>

                <div class="profile-detail editable">
                    <h6>First Name</h6>
                    <div class="profile-info">
                        <span id="firstname-span" th:text="${userProfileView.firstName}"></span>
                        <input type="text" class="form-control edit-input" id="firstname-input" th:field="*{firstName}">
                        <i class="fas fa-pencil-alt edit-icon" onclick="editProfile('firstname')"></i>
                        <small id="firstNameError" class="error-message" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First name Error</small>
                    </div>
                </div>

                <div class="profile-detail editable">
                    <h6>Last Name</h6>
                    <div class="profile-info">
                        <span id="lastname-span" th:text="${userProfileView.lastName}"></span>
                        <input type="text" class="form-control edit-input" id="lastname-input" th:field="*{lastName}">
                        <i class="fas fa-pencil-alt edit-icon" onclick="editProfile('lastname')"></i>
                        <small id="lastNameError" class="error-message" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last Name Error</small>
                    </div>
                </div>

                <div class="profile-detail editable">
                    <h6>Phone</h6>
                    <div class="profile-info">
                        <span id="phone-span" th:text="${userProfileView.contactPhone != null ? userProfileView.contactPhone : ''}"></span>
                        <input type="text" class="form-control edit-input" id="phone-input" th:field="*{contactPhone}">
                        <i class="fas fa-pencil-alt edit-icon" onclick="editProfile('phone')"></i>
                    </div>
                </div>

                <div class="profile-detail">
                    <h6>Email</h6>
                    <div class="profile-info">
                        <span id="email-span" th:text="${userProfileView.contactEmail}"></span>
                    </div>
                </div>

                <div class="profile-detail editable">
                    <h6>City</h6>
                    <div class="profile-info">
                        <span id="city-span" th:text="${userProfileView.city != null ? userProfileView.city : ''}"></span>
                        <input type="text" class="form-control edit-input" id="city-input" th:field="*{city}">
                        <i class="fas fa-pencil-alt edit-icon" onclick="editProfile('city')"></i>
                    </div>
                </div>

                <div class="profile-detail">
                    <h6>Role</h6>
                    <div class="profile-info">
                        <span class="role" th:text="${roles}">User</span>
                    </div>
                </div>
            </div>

            <div class="button-submit">
                <input type="submit" class="btn btn-primary" value="Save Changes">
            </div>
        </form>
    </div>
</div>

<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>
